@model MusicSubscriptionApp.Models.Song
@{
    var appUser = ViewBag.AppUser;
    var searchResults = ViewBag.SearchResult;
}
<div class="text-center">
    <h4 class=" mb-2 fw-bold fs-1 mt-4">Music Subscription Online</h4>
    <p class="fw-light fs-4">@appUser.Username</p>
    <a class="btn btn-primary btn-login text-uppercase fw-bold" asp-controller="AppUser" asp-action="Logout">Logout</a>
</div>

<div>
    <form asp-controller="AppUser" asp-action="Dashboard">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating mb-3">
            <input asp-for="Artist" type="text" class="form-control" id="floatingInput" placeholder="Artist">
            <label for="floatingInput">Artist</label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Title" type="text" class="form-control" id="floatingInput" placeholder="Title">
            <label for="floatingInput">Title</label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Year" type="text" class="form-control" id="floatingInput" placeholder="Year">
            <label for="floatingInput">Year</label>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Query" class="btn btn-primary btn-login text-uppercase fw-bold" />
        </div>
    </form>
    @Html.ValidationMessage("NoResults", new {@class = "text-danger"})
    @if(searchResults != null){
            <h3 class="display-6 text-center">Query Results</h3>
        <div>
            <table class="table table-striped" style="border-radius: 20px; margin-bottom: 14px;">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (Query result in searchResults)
                {
                    <tr>
                        <td>@result.Artist</td>
                        <td>@result.Title</td>
                        <td>@result.Year</td>
                        <td>
                            <img src="@Url.Content("https://artistimages3655612.s3.ap-southeast-2.amazonaws.com/" + result.SongID)" alt="Image" style="width: 60px; height: 60px;" />
                        </td>
                        <td>
                            <form asp-action="NewSubscription">
                                <div class="form-group">
                                    <input type="hidden" name="SongID" value="@result.SongID" />
                                    <input type="hidden" name="Email" value="@appUser.Email" />

                                </div>
                                <div class="form-group">
                                    <input class="btn btn-primary text-uppercase fw-bold" type="submit" asp-action="NewSubscription" value="Subscribe">
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

<div>

</div>